html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.user-container {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -250px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}
header {
	height: auto;
	width : 100%;
    background-color: yellow;
    padding-top: 20px;
}
.white-subheader {
	background-color: white;
	overflow: hidden;
	padding: 10px 20px;
}
.umbrella-txt {
	margin-top: 18px;
}
.msg-txt {
	margin-top: 10px;
}
p.text-center small small a:link, p.text-center small small a:visited {
	color: #BBB;
	background-color: transparent;
	text-decoration: none; 
}
p.text-center small small a:hover{
	background-color: black;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px; 
}
p.text-center small small a:active {
    color: black;
	background-color: transparent;
	text-decoration: none; 
}
.padding-points{
	padding-top: 420px;
}
.special-padding-top {
	padding-top: 70px;
}
.special-padding-bottom {
	padding-bottom: 70px;
}
.hline-color {
	color: grey;
}
.yellow-block {
	width: 100%;
	height: 500px;
	background-color: yellow;
}
.yellow-block-margin {
	margin-top: 180px;
}
.yellow-block-color {
	color: white;
}
.background-color-yellow {
	background-color: yellow;
}
.background-color-grey {
	background-color: grey;
}
.height-block {
	height: 250px;
	width: 250px;
	margin-right: 20px;
	margin-left: 20px;
}
.border-grey{
	border-bottom: 1px solid grey;
}
.border-grey-all{
	border: 1px solid grey;
	height: 45px;
}
#yellow-block {
	width: 100%;
	height: 1px;
	border: 1px solid yellow;
}
.footer-push, footer {
	/*clear: both;*/
    height: 250px;
    margin: 0;
    padding: 0;
}
.underline-yellow{
	text-decoration: underline;
	text-decoration-color: yellow;
}
.sub-block {
	border-left: 1px solid yellow;
}