html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div.container {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -440px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}

header {
	height: 80px;
	width : 100%;
    background-color: #222222;
    color : #dddddd;
   	padding-top: 10px;
   	padding-bottom: 10px;
}

.subHeader {
   	margin: 0 auto;
	width: 960px;	
}

#HText {
	font-size: 150%;
	float: left;
}

#HBlocks {
	float: right;
}

#HBlocks #HLinkBlocks {
	background-color: black;
	height: 35px;
	padding-top: 15px;
}

#HBlocks #HLinkBlocks #links1 {
	margin-left: 10px;
	margin-right: 10px;
}

#HBlocks #HLinkBlocks #links1:link {
	color: white;
	background-color: transparent;
	text-decoration: none; 
}

#HBlocks #HLinkBlocks #links1:hover{
	background-color: #00F;
	border-bottom-style: solid;
	border-bottom-color: #00F;
	border-bottom-width: 1px; 
}

#HBlocks #HLinkBlocks #links1:visited{
	color: red;
	background-color: transparent;
	text-decoration: none; 
}

#HBlocks #HLinkBlocks #links1:active {
	color: yellow;
	background-color: transparent;
	text-decoration: none; 
}

.auxContainer {
	margin : 0 auto;
	width: 960px;
   	padding-top: 20px;
   	padding-bottom: 10px;
   	clear: both;
}

.imageContainer {
	text-align: center;
}

.imageContainer .auxImgContainer1 {
	margin-top : 20px;
}

.imageContainer .auxImgContainer1 #image2 {
	border : 3px double grey;
	margin-right: 30px;
}

.imageContainer .auxImgContainer1 #image3 {
	border : 3px double grey;
}

.imageContainer .auxImgContainer1 #image4 {
	border : 3px double grey;
	margin-left: 30px;
}

.txtContainer1 {
	margin : 0 auto;
	width : 960px;
}

.txtContainer1 #txtBlock1 {
	float: left;
	text-align: left;
	margin-right: 30px;
	width : 300px;
}

.txtContainer1 #txtBlock2 {
	float: left;
	text-align: left;
	width: 300px;
}

.txtContainer1 #txtBlock3 {
	float: right;
	text-align: left;
	margin-left: 30px;
	width : 300px;
}

#mainTxt {
	word-wrap: break-word;
}

#orangeColor {
	color: orange;
	text-align: right;
}

.imgTxtContainer {
	clear: both;
	margin: 0 auto;
	width: 960px;
}

.imgTxtContainer #txtBlock4  {
	text-align: left;
	float: left;
	width: 435px;
}

.imgTxtContainer #imgBlock1 {
	float: right;
}

/*.imgTxtContainer #imgBlock1 #image5 {

}
*/
#links2 {
	color: orange;
}

#links2:link, #links2:visited, #links2:hover, #links2:active {
	color: orange;
	background-color: transparent;
	text-decoration: none; 
}

.footer-push, footer {
	clear: both;
    height: 440px;
    margin: 0;
    padding: 0;
}

footer {
	width: 100%;
	color: #fff;
	background-color: #444;	
}

#rightAlign {
	/*text-align: right;*/
	float: right;
}

#leftAlign {
	/*text-align: left;*/
	float: left;
}

.headerlinkBlocks {
	height: 370px;
	margin: 0 auto;
	width: 960px;
}

/*
.headerlinkBlocks #headerBlocks {
	clear :both;
}
*/
.headerlinkBlocks #headerBlocks #headerBlock1, .headerlinkBlocks #headerBlocks #headerBlock2,
.headerlinkBlocks #headerBlocks #headerBlock3 {
	float: left;
	text-align: center;
	width: 210px;
	margin-right: 40px;
}

.headerlinkBlocks #headerBlocks #headerBlock4 {
	float: left;
	text-align: center;
	width: 210px;
}

.headerlinkBlocks #linkBlocks {
	clear: both;
}

.headerlinkBlocks #linkBlocks #linkBlock1, .headerlinkBlocks #linkBlocks #linkBlock2, 
.headerlinkBlocks #linkBlocks #linkBlock3 {
	float: left;
	text-align: left;
	width: 210px;
	margin-right: 40px;
}

.headerlinkBlocks #linkBlocks #linkBlock4 {
	float: left;
	text-align: left;
	width: 210px;
}

.underAll {
	clear: both;
	color: #ddd;
	background-color: #222;
	height: 70px;
}

#auxUnderAll {
	margin: 0 auto;
	width: 960px;
	height: 20px;
}